{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body %}
<section class="  py-0">
    <div class="container py-5 ">
      <div class="row  justify-content-center">
        <div class="col-lg-8">
          <div class="text-center my-5">
          <div class="fs-2 text-center py-5 fw-bold text-muted">
        About FlexDrive
      </div>
            <p class=" fw-light mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio beatae corrupti alias veritatis nobis ad in pariatur earum corporis repudiandae?
            </p>
            <p class="text-muted">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, adipisci. Obcaecati doloremque sint tempora culpa eius dignissimos labore aliquam, officia velit! Sit, porro dicta! Unde, et blanditiis. Repellendus, laudantium voluptate.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row px-0 py-5 mx-0">
    <div class="col-lg-6 col-md-12">
      <h3 class="fw-bold text-muted text-start px-lg-5 px-3">FlexDrive</h3>
      <div class="lh-lg px-lg-5 px-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Delectus laudantium, voluptatem quis repellendus eaque sit
        animi illo ipsam amet officiis corporis sed aliquam non
        voluptate corrupti excepturi maxime porro fuga. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Voluptatem
        cupiditate eum facere impedit cumque dolorem, doloremque
        quia officia veniam possimus ut? Aut, dolor magni quam,
        numquam accusamus ad nihil harum consectetur 
      </div>
    </div>
    <div class="col-lg-6 py-3 mt-3 px-5">
      <video class="my-vdo " height="80%" controls>
        <source src={myVideo} type="video/mp4" />Your browser does not support the video tag.</video> 
    </div>

  </section>

{% endblock body %}