 <!-- my-nav -->
<nav style="background-color: white; "
 class=" z-3 font-family  w-100 col-md-6 col-lg-6 col-sm-3  navbar-static-top position-fixed  navbar navbar-expand-lg navbar-light ">
 <div class="container ">
     <a style="margin-left: -3%;" class="navbar-brand mt-2 px-lg-5 my-logo-div col-lg-3  col-sm-3 "
         href="/">
         <!-- <h1 class="fw-bolder">FlexDrive</h1> -->
         <img class="logo-img" src="static/images/logo-img1.jpg" width="80%" alt="logo-img">
         <!-- <video src="logo-vdo.mp4"></video> -->
     </a>

     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas">
         <span class="navbar-toggler-icon"></span>
     </button>

     <div style="margin-left: 34%;" class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto ">
             <li class="nav-item   px-2">
                 <a style="font-size: 17px; " class="nav-link fw-bold text-muted"
                     href="/">Home</a>
             </li>
             <li class="nav-item px-2">
                 <a style="font-size: 17px;" class="nav-link fw-bold text-muted" href="/about">About</a>
             </li>
             <li class="nav-item   px-2">
                 <a style="font-size: 17px; " class="nav-link fw-bold text-muted"
                     href="/subscription">Plans</a>
             </li>

             <li class="nav-item   px-2">
                 <a style="font-size: 17px;" class="nav-link fw-bold text-muted" href="/contact">Contact</a>
             </li>
             <li class="nav-item px-2">
                 <a style="font-size: 17px;" class="nav-link fw-bold text-muted" href="/blogs">Blog</a>
             </li>
             

             
             <li class="nav-item   px-2">
                 
                 <a style="font-size: 14px; background-color:#7159e3; "
                     class="nav-link rounded-3 fw-bold px-3  highlight1 corporate-button py-2 " href="/profile"
                     role="button" aria-expanded="false"> Profile</a>
               

             </li> 

         </ul>
     </div>
</div>
</nav>
<!-- offcanvas nav -->
<div class="offcanvas font-family offcanvas-start" tabindex="-1" id="navbarOffcanvas"
 aria-labelledby="navbarOffcanvasLabel">
 <div class="offcanvas-header">
     <h5 class="offcanvas-title" id="navbarOffcanvasLabel"><a class="navbar-brand mt-2 px-3 col-6 "
             href="/"><img src="static/images/Untitled design1.png" width="38%" alt="logo-img"></a></h5>

     <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
         aria-label="Close"></button>
 </div>
 <div class="offcanvas-body">
     <!-- Add your navbar links or content here -->
     <ul class="navbar-nav mx-auto ">
         <li class="nav-item   px-3">
             <a style="font-size: 18px; " class="nav-link text-black"
                 href="/subscription">Subscription</a>
         </li>

         <li class="nav-item   px-3">
             <a style="font-size: 18px;" class="nav-link text-black" href="/contact">Contact</a>
         </li>
         <li class="nav-item px-3">
             <a style="font-size: 18px;" class="nav-link text-black" href="/blog">Blog</a>
         </li>
         <li class="nav-item px-2">
             <a style="font-size: 18px;" class="nav-link text-black" href="/about">About</a>
         </li>
         <li class="nav-item   px-2">
             <!-- <i class="fa-solid fa-arrow-right-to-bracket"></i> -->
             <a style="font-size: 16px; background-color:#7159e3; "
                 class="nav-link rounded-3  corporate-button py-2 px-1 " href="/profile" role="button"
                 aria-expanded="false"> Profile</a>
             <!-- <a style="font-size: 22px;  " class="nav-link d-inline-block text-black"
                 href="login.html">Login </a>  -->
             <!-- <span>/</span> -->
             <!-- <a style="font-size: 22px;" class="nav-link text-black d-inline-block"
                 href="signup.html">SignUp</a> -->

         </li>

     </ul>
 </div>
</div>