{% extends "base.html" %}
{% block title %}FAQ's{% endblock title %}
{% block body %}
 <!-- faq -->
 <div  class="  py-5 faq_area section_padding_130 font-family">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-12 mt-5 text-center w-100 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading  wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h1 class="my-heading mt-5  text-center ">Frequently Asked <span
                            class="boujee-text">Question's</span> </h1>

                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">

            <div class="col-12 w-100 mx-auto  col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What
                                is FlexDrive?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p class="my-faq-text">FlexDrive is an innovative car rental service that offers
                                    subscription-based access to a diverse fleet of vehicles, providing a convenient
                                    and flexible alternative to traditional car ownership.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">How
                                does FlexDrive's subscription model work?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p class="my-faq-text">FlexDrive's subscription model allows you to choose a
                                    subscription plan that suits your needs. With a monthly fee, you gain access to
                                    a range of vehicles, covering maintenance, insurance, and more, all without the
                                    commitments of ownership.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="card-header" id="heading7">
                        <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            How do I sign up for a FlexDrive subscription?<span
                                class="lni-chevron-up"></span></h6>
                    </div>
                    <div class="collapse" id="collapse7" aria-labelledby="heading7"
                        data-bs-parent="#faqAccordion">
                        <div class="card-body">
                            <p class="my-faq-text">To sign up for FlexDrive, visit our website, select your desired subscription plan, provide the required information, and complete the registration process.</p>
                        </div>
                    </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                What's included in the subscription fee?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p class="my-faq-text">The subscription fee covers a comprehensive package,
                                    including maintenance, insurance, and even vehicle depreciation. This means you
                                    can enjoy your chosen vehicle without worrying about the typical costs
                                    associated with ownership.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingfour">
                            <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                                data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                Is there a long-term commitment with FlexDrive?<span class="lni-chevron-up"></span>
                            </h6>
                        </div>
                        <div class="collapse" id="collapsefour" aria-labelledby="headingfour"
                            data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p class="my-faq-text">No, FlexDrive offers commitment-free subscription options.
                                    There are no long-term contracts, giving you the freedom to subscribe for the
                                    duration that suits you best, whether it's for a month or longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingfive">
                            <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                                data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                What types of vehicles are available in the FlexDrive fleet?<span
                                    class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapsefive" aria-labelledby="headingfive"
                            data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p class="my-faq-text">FlexDrive offers a diverse fleet, including sleek sedans,
                                    spacious SUVs, eco-conscious electric cars, and more. This variety ensures that
                                    there's a suitable vehicle for every subscriber.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="card-header" id="heading6">
                        <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            Are there mileage restrictions on FlexDrive vehicles?<span
                                class="lni-chevron-up"></span></h6>
                    </div>
                    <div class="collapse" id="collapse6" aria-labelledby="heading6"
                        data-bs-parent="#faqAccordion">
                        <div class="card-body">
                            <p class="my-faq-text">FlexDrive offers different subscription plans with 
                                varying mileage allowances. You can choose a plan that aligns with your expected mileage needs.</p>
                        </div>
                    </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="card-header" id="heading7">
                        <h6 class="mb-0 collapsed my-faq-text1" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            What payment methods are accepted for FlexDrive subscriptions?<span
                                class="lni-chevron-up"></span></h6>
                    </div>
                    <div class="collapse" id="collapse7" aria-labelledby="heading7"
                        data-bs-parent="#faqAccordion">
                        <div class="card-body">
                            <p class="my-faq-text">We accept various payment methods, including credit cards and electronic payment options. You can choose the one that is most convenient for you during the subscription process.</p>
                        </div>
                    </div>
                    </div>
                  
              
                </div>

            </div>

        </div>
        <div class="col-lg-12 col-md-12 mt-5 py-3 text-center">
            <h4>If your query is not mentioned here then <a href="contact.html">contact</a>  us  on <a href="mailto:niharikachoudharyy03@gmail.com">niharikachoudharyy03@gmail.com</a> or <a href="tel:7404738757">7404738757</a> </h4>
        </div>
    </div>
</div>
{% endblock body %}
